{% include 'main/nav.html' %}

<style>
  body {
      background: #f7f7f7;
    }
    
    .form-box {
      max-width: 500px;
      margin: auto;
      padding: 50px;
      background: #ffffff;
      border: 10px solid #f2f2f2;
    }
    
    h1, p {
      text-align: center;
    }
    
    input, textarea {
      width: 100%;
    }
</style>
<div class="form-box">
  <h1>Admin Login</h1>
  <form action="" method="post">
    {% csrf_token %}

    <div class="form-group">
      <label for="email">Email</label>
      <input class="form-control" id="email" type="email" name="email">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password"></input>
    </div>
    <br>
    <input class="btn btn-primary" type="submit" value="Submit" />
    </div>
    {% for message in messages %}
    <p>{{message}}</p>
  {% endfor %}
  <p class="p-2 m-1">Don't have a Account? <a href="{% url 'signup' %}">Sign up Here</a></p>
  </form>
</div>

